.acudits {
    color: grey;
    background-color: white;
    opacity: 0.8;
}

#meteo {
    background-color: cadetblue;
    color: cornsilk;
    margin: 50px;
    padding: 20px;
}

  button{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
  }
  button:hover{
    color: rgb(75, 1, 1);
  }